{% extends 'mainapp/base.html' %}

{% block title %}
{{ object.title|default:"Новости по дефолту" }}
{% endblock title %}

{% block content %}
<!--создаём проссмотр отдельной новости-->
    <div class="row justify-content-center pt-3">
<!--    <div class="row">-->
      <div class="col-md-12 col-lg-8">
<!--      <div class="col-lg-8">-->
        <div class="card shadow">
<!--        <div class="card my-2">-->
          <div class="card-body">
            <p class="card-text">Упс, такой новости нет, сорян.</p>
            <a href="{% url 'mainapp:news' %}" class="btn btn-primary">Назад к новостям</a>
<!--            <a href="{% url 'mainapp:news' %}" class="card-link">Назад к новостям</a>-->
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
